.article {
    border-radius: 25px;
    padding: 40px;
    margin: 40px;
    box-shadow: 0 0px 0px rgb(0 0 0 / 0.3);
    transition: box-shadow 0.5s ease-out;
}

.content {
    height: 100px;
    overflow: hidden;
    margin-bottom: 30px;
    margin-top: 20px;
}

.article:hover {
    box-shadow: 0 10px 30px rgb(0 0 0 / 0.3);
}
.container {
    background-color: #fff;
    width: 60%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 10px 30px rgb(0 0 0 / 0.3);
    border-radius: 10px;
    position: relative;
    top: -150px;
    z-index: 2;
}
body {
    background-color: #edfceb;
    font-family: 'Courier New', monospace;
    line-height: 1.5;
}

button {
    background-color: #89ebb3;
    border: none;
    padding: 10px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 0.2);
}

.author {
    font-size: smaller;
    font-style: italic;
}

.footer {
    padding: 60px;
    text-align: center;
}

.topBox {
    height:400px;
    background-color: #89ebb3;
    z-index: 1;
    position: relative;
    /* opacity: 0.3; */
}

.parent {
    position: relative;
    /* z-index: 2; */
    /* background-color: blue; */
}

/* .article:hover {
    animation: pushMe 0.6s forwards;
    
}
@keyframes pushMe{
    /* 0%{
        box-shadow: 0 0px 0px rgb(0 0 0 / 0.3);
    } */
    /* 100%{
        box-shadow: 0 10px 30px rgb(0 0 0 / 0.3);
    }
} */ 