{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahani</title>
    <link rel="stylesheet" href="{% static 'kahani/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="article">
            <h2>Kahani 1</h2>
            <div class="author">
                Monday 2023 | 21:07
            </div>
            <p>Lorem ipsum kya hota hai? likho to kuch accha likho warna mt likho</p>
            <button>Read More</button>
        </div>
        <div class="article">
            <h2>Kahani 2</h2>
            <div class="author">
                Monday 2023 | 21:07
            </div>
            <p>Lorem ipsum kya hota hai? likho to kuch accha likho warna mt likho</p>
            <button>Read More</button>
        </div>
        <div class="article">
            <h2>Kahani 3</h2>
            <div class="author">
                Monday 2023 | 21:07
            </div>
            <p>Lorem ipsum kya hota hai? likho to kuch accha likho warna mt likho</p>
            <button>Read More</button>
        </div>
    </div>

    <div class="footer">
        Created By Ganesh Pandey
    </div>
    
</body>
</html>