* {
    padding : 0;
    margin : 0;
    box-sizing : border-box;
    font-family: 'Courier New', monospace;
    }

.article {
    border-radius: 25px;
    padding: 40px;
    margin: 20px;
    background-color: white;
}

.content {
    height: 100px;
    overflow: hidden;
    margin-bottom: 30px;
    margin-top: 20px;
}

.container {
    background-color: #fff;
    width: 60%;
    margin: auto;
    padding: 50px 30px;
    box-shadow: 0 10px 30px rgb(0 0 0 / 0.3);
    border-radius: 10px;
    position: relative;
    top: -150px;
    z-index: 1;
}

.container .kahani .date-written {
    margin: 20px 0;
}

body {
    background-color: #edfceb;
    line-height: 1.5;

}

button {
    background-color: #3bf68c;
    border: none;
    padding: 10px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 0.2);
    cursor: pointer;
}

.author {
    font-size: smaller;
    font-style: italic;
}

.footer {
    padding: 60px;
    text-align: center;
}

.topBox {
    height: 400px;
    background-color: #3bf68c;
    position: relative;
    margin-top: 0;
}

.header {
    background-color: #3bf68c;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 10px 8%;
    justify-content: space-between;
}

.header .menu-title {
    width: fit-content;
    margin-right: 20px;
    cursor: pointer;
}

.header a {
    text-decoration: none;
    color: #fff;
}

.nav-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.nav-list a {
    font-size: 20px;
}

.nav-list li {
    margin: 0 20px;
}

.topBox {
    text-align: center;
    color: #fff;
    font-size: 35px;
    position: relative;
    top: 70px;
}

.topBox h1 {
    position: relative;
    top: 30px;
}
/* #89ebb3 */