{% extends "layout.html" %}

<!-- Setting the title of the page -->
{% block title %}
{{ title }}
{% endblock %}

<!-- setting the topBox of the page -->
{% block topBox %}
<h1>{{ title }}</h1>
{% endblock %}

{% block body %}

<!-- Iterating over the posts and displaying them -->
{% for post in posts %}
<div class="article">
    <h2>{{ post.title }}</h2>
    <div class="author">
        {{ post.date_written }}
    </div>
    <div class="content">{{ post.content|truncatechars:350|linebreaksbr }}</div>

    <!-- It creates a string with app_name and path_name as saving in var called new_url -->
    {% with app_name|add:":"|add:path_name as new_url%}
    <a href="{% url new_url post_id=post.id %}"><button class="btn">Read More</button></a>
    {% endwith %}
</div>
{% empty %}
<div class="article">There is no work here right now. But I'll write soon for you! &#x1F495;</div>
{% endfor %}
{% endblock %}