{% extends "layout.html" %}

{% block body %}

{% for post in posts %}
<div class="article">
    <h2>{{ post.title }}</h2>
    <div class="author">
        {{ post.date_written }}
    </div>
    <div class="content">{{ post.content|truncatechars:350|linebreaksbr }}</div>

    <!-- It creates a string with app_name and path_name as saving in var called new_url -->
    {% with app_name|add:":"|add:path_name as new_url%}
    <a href="{% url new_url post_id=post.id %}"><button>Read More</button></a>
    {% endwith %}
</div>
{% empty %}
<div class="article">There is no work here right now. But I'll write soon for you!</div>
{% endfor %}
{% endblock %}