{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Kahani{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <header class="header">
        <a href="{% url 'kahani:index' %}"><h1 class="menu-title">Raif Writes</h1></a>
        <nav>
          <a href="{% url 'ghazals:index' %}"><b>ग़ज़ल</b></a>
          <a href="{% url 'nazm:index' %}"><b>नज़्म</b></a>
          <a href="#"><b>क़ितआ</b></a>
          <a href="#"><b>शेर</b></a>
          <a href="{% url 'kahani:index' %}"><b>कहानी</b></a>
          <a href="#"><b>Story</b></a>
          <a href="{% url 'poem:index' %}"><b>Poem</b></a>
          <a href="#"><b>About</b></a>
        </nav>
      </header>
    <div class="parent">
        <div class="topBox"></div>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </div>
    <div class="footer"> Created By Ganesh Pandey </div>
</body>
</html>