{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Kahani{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>

<body>
    <header class="header">
        <a href="{% url 'home' %}"><h1 class="menu-title">Raif Writes</h1></a>
        <nav class="nav">
        <ul class="nav-list">
          <li><a href="{% url 'ghazals:index' %}">ग़ज़ल</a></li>
          <li><a href="{% url 'nazm:index' %}">नज़्म</a></li>
          <!-- <li><a href="#">क़ितआ</a></li> -->
          <!-- <li><a href="#">शेर</a></li> -->
          <li><a href="{% url 'kahani:index' %}">कहानी</a></li>
          <li><a href="{% url 'story:index' %}">Narrative</a></li>
          <li><a href="{% url 'poem:index' %}">Poem</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
        </ul>
        </nav>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
      </header>
    <div class="parent">
        <div class="topBox">
            {% block topBox %}
            {% endblock %}
        </div>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </div>
    <div class="footer"> Created By Ganesh Pandey </div>
</body>
</html>